.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #006ff7;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;  /* horizontalno centriranje */
    align-items: center;      /* vertikalno centriranje */
    border: #0c0c0c solid 2px;
    margin-top: 15px;
}

.buttons > img {
    width: 10%;
    max-width: 80px;
    
}

.selectedBtn {
    border-color: #006ff7;
    border-width: 4px;
    border-radius: 12;
    border-style: solid;   
}

.slidecontainer {
    display: flex;
    gap: 8px;
    white-space: nowrap;
}

#currentPlayingLength {
    margin-right: 8px;
}

.sideImg {
    width: 80px;
    height: fit-content;
}

.playlistItem {
    display: flex;
    border: #0c0c0c solid 2px;
    margin-bottom: 20px;
    padding-right: 15px;
    margin-right: 20px;
}

.info {
    
}

.container {
    display: flex;
}

.playerContainer {
    width: 90%;
}

.mainPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

